// _body_apply_to_all.scss

h2 {
  font-size: 2em;
  color: #333;
}

p {
  font-size: 1.2em;
  color: #666;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.nigga-button, .portfolio-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #000;
  text-decoration: none;
  border-radius: 5px;
  @include transition(background-color, 0.3s);
  margin-left: 10px;

  &:hover {
    background-color: $primary-color;
  }
}
