// Checkout.scss

@import 'abstract'; // Assuming _abstract.scss has been created

.Checkout {
  text-align: center;
  font-family: $font-stack;
}

.checkout-content {
  padding: 20px;

  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2em;
    margin: 10px 0;
  }
}
